@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&family=Kaushan+Script&family=Playfair+Display:wght@400;500;600;700;800&display=swap');


:root{
    --primary-font: 'Playfair Display', serif;
    --secondary-font: 'Kaushan Script', cursive;
    --orange-color: rgba(253,133,21,0.9);
}
*{
    font-family: var(--primary-font) ;
}
.nav-item a:hover{
    color: var(--orange-color) !important ;
}
.banner-bottom-text-heading{
    color: var(--orange-color);
}
.main-heading{
    margin-bottom: 380px;
    font-family: var(--secondary-font);
    font-size: 108px;
    transform: rotate(-25deg);
}
.main-heading span{
    font-family: var(--secondary-font) ;
}
.carousel-caption-1 img{
    position: absolute;
    bottom: 380px;
    left: 65%;
    width: 18%;
}

h2{
   color: #141414;
}
.button-span{
    margin-top: -32px;
}
.banner-2{
    padding-right: 250px !important;
}
.video-section{
    position: relative;
}
.video-content{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.video-content h2{
    color: var(--orange-color);
}
.video-content p{
    color: #cdcdcd;
}
.video-section .video-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.text-left {
    padding-left: 70px;
    padding-right: 155px;
}
.right-side{
    position: relative;
}

.right-side .plate {
    animation: round 30s linear infinite;
}
@keyframes round{
    
    0%{
        transform: rotate(0deg);
    }
   
    100%{
        transform: rotate(360deg);
    }

}

.banner-5{
    background-color: #1B1A1A;
}



.main-heading-1{
    position: absolute;
    top: 150px;
    left: 100px;
    line-height: 75px;
    font-family: var(--secondary-font);
    font-size: 70px;
    transform: rotate(-20deg);
}
.main-heading-1 span{
    padding-left: 60px;
    font-family: var(--secondary-font);
}
.main-heading-2{
    position: absolute;
    top: 350px;
    left: 190px;
    line-height: 60px;
    font-family: var(--secondary-font);
    font-size: 70px;
    transform: rotate(-20deg);
    color: var(--orange-color);
}
.main-heading-2 span{
    font-family: var(--secondary-font);
}
.arrow-icon{
    position: absolute;
    top: 220px;
    left: 340px;
}
.banner-text{
    position: absolute;
    top: 500px;
    left: 150px;
    width: 30%;
}
.banner-btn{
    position: absolute;
    top: 600px;
    left: 100px;
}


.lunch{
    width: 30%;
    margin: 0 auto;
}
.dissert{
    width: 23%;
    margin: 0 auto;
}
.whiskey{
    width: 30%;
    margin: 0 auto;
}

.heading-01{
    color: var(--orange-color);
}
.text-content .p-01{
    font-family:'Playfair Display', serif;
    padding-right: 150px;
    
}